.skills button {
    border: transparent;
    background-color: transparent;
}

.skills .skillsInput {
    background-color: transparent;
    display: flex;
}

.skills input[type=number]{
    border: none;
    background-color: transparent;
    width: auto;
}